{% extends "base.html.twig" %}

{% block title %}
	Ajout d'un Auteur|
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4 text-center">
		<h1 class="text-center">Ajout d'un Auteur</h1>
		{% include 'Author/form.html.twig' with {buttonLabel: 'Ajouter'} %}
		<a href="{{ path('author.index') }}" class="btn btn-primary mt-4">Retour aux Auteurs</a>
	</section>
{% endblock %}